.container{
    background-color: rgb(86, 81, 81);
    /* height: 900px; */
}


.nav{
    display: flex;
    height: 75px;
    /* background-color: rgb(88, 88, 133); */
    justify-content: space-between;
}

.navleft{
    /* padding: 6px; */
}


.navright{
    /* background-color: rgb(83, 51, 51); */
    /* height: 100px; */
    /* width: 200px; */
}



.navleft > img{
    height: 98%;
    /* width: 98%; */
    margin-left: 85px;
    padding: 5px;
    padding-top: 12px;
}

.navtabs{
    display: flex;
    /* justify-content: center; */
    margin-right: 120px;
    
    /* margin-left: 10px; */
    /* width: 100px; */
}

li{
    /* padding: 3px; */
    margin-right: 30px;
    display: inline-block;
    justify-content: space-between;
    font-size: larger;
    font-weight: bold;
   font-family: "Sofia", sans-serif;
    color: rgb(247, 244, 239);
    /* vertical-align: middle; */
    
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 480px;
}
.title > h1{
    color: white;
    font-size: 75px;
font-family: "Audiowide", sans-serif;}

 .title > h2{
    color: white;
    font-size: 25px;
 }

 .left > img{
    height: 441px;
    width: 356px;
    padding: 10px;
 }

 .aboutme{
    display: flex;
 }