body{
    background-color: brown;
    align-items: center;
    display: flex;
}

.top{
display: flex;
}

.resume{
    /* display: flex; */
    width: 850px;
    height: 1100px;
    background-color: whitesmoke;
    /* display: inline-block; */
    /* align-items: center; */
    
    
}

.header{
    display: inline-block;
    background-color: blue;
    width: 567px;
    height: 160px;

    /* display: flex; */
    /* justify-content: space-around; */
   
}

article{
    font-weight: 500;
}

.contacts{
    display: inline-block;
    background-color: darkmagenta;
    width: 283px;
    height: 160px;
}

ul{
    justify-content: space-evenly;
    margin-left: 10px;
    padding-right: 20px;
}

.bottom{
    display: flex;
}

h1{
    color: rgb(231, 228, 234);
    font-size: x-large;
    width: 567px;

}

.main{
    background-color: chartreuse;
}

.side{
    background-color: aqua;
    height: fit-content;
    /* display: inline-block; */
}